*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* Body CSS */
body {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'SF pro text';
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 1rem;
}

/* h1-h3*/

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: normal;
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  line-height: normal;
}

nav {
  position: absolute;
  width: 100%;
  background-color: #F4F6F5;
}

/* Top Nav Bar */
.top {
  top: 0;
  z-index: -1;
  height: 7.8%;
}

.header {
  width: 100%;
  padding: .5%;
  margin-top: 6.5%;

}

.distance {
  width: 100%;
  text-align: center;
}

/* Middle Nav Bar */
.middle {
  bottom: 33%;
  height: 4%;
  display: flex;
  flex-direction: row;
}

.fas {
  width: 4%;
  margin: 2% 0 0 1%;
}

.previous-page {
  width: 36%;
  margin: 2.75% 0 0 .5%;
}

.card-title {
  width: 59.5%;
  margin: 2.5% 0 0 0;
}

/* Scroll Section */
.scroll-section {
  position: absolute;
  height: 27%;
  width: 100%;
  overflow: scroll;
  background-color: #FFFFFF;
  bottom: 6%;
}

.direction-title {
  padding: 2%;
  background-color: #EFF0F4;
  width: 100%;
  text-align: left;
  color: #74757A;
  font-size: 1.2em;
}

.row {
  display: flex;
  border-bottom: 1px solid #F0F0F1;
  padding: 2%;
}

.line-number {
  font-size: 1.7rem;
  font-weight: 600;
  width: 12.5%;
  text-align: left;
}

.destination {
  font-size: 1.5rem;
  font-weight: 200;
  width: 45%;
  text-align: left;
}

.timing {
  font-size: 1.2rem;
  font-weight: 100;
  color: #74757A;
  width: 42.5%;
  text-align: right;
}

/* Bottom Nav Bar */
.bottom {
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: #F4F6F5;
  width: 100%;
  height: 6%;
}

.button {
  width: 33%;
  text-align: center;
  padding: 1.5%;
}

/* Home Button */

.home-label {
  margin-left: 33%;
  padding: 2%;
}

/* Info Button */

.info-label {
  color: #428BF6;
  margin-left: 14%;
  padding: 2%;
}

/* Settings Button */

.settings-label {
  margin-left: 27.5%;
  padding: 2%;
}
